body {
    font-size: 15pt;
    font-family: verdana, sans-serif;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 8px black;
}

header {
    color: whitesmoke;
    text-align: center;
    text-shadow: 4px 4px 6px black;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 4px 4px 6px black;
}

div {
    padding: 5px;
    color: blueviolet;
    text-shadow: 4px 4px 4px black;
    font-family: arial narroow bold;
}